<section>
<div id="container">
<div class="container">
<div id="notification"></div>
<div class="row">
<div class="span12">
	<div class="row">
<div class="span9  " id="content">  <div class="breadcrumb">
		<a href="">Home</a>
		 &raquo; <a href=""><%=@title_page%></a>&raquo; <%= sort_area %> 
	  </div>
  <h1 class="style-1"><%=  params[:area] ? params[:area] : sort_area %> </h1>
  	<%if @shops.size == 0%>
	  	<div class="category-info" style="margin-bottom:164px">
	  		Thông tin đang cập nhật
	  	</div>
  	<%end%>

<% @shops.each do |shop|%>
<div class="category-info">
	<!---->
	<div class="row">
		<div class="image span2"><a href="">
		<%=image_tag shop.image%>
		</a></div>
		<div class="left span6">
			<div class="name"><%=link_to shop.name%></div>
			<div class="description">
			<span style="color:#002AE1">Địa chỉ:&nbsp;</span><%= shop.address%>
		<br>
			<span style="color:#002AE1">Người quản lý:&nbsp;</span><%= shop.person%>
		<br>
			<span style="color:#002AE1">Website:&nbsp;</span><%=link_to shop.website, shop.website, class: 'link_shop'%>
		<br>
			<span style="color:#002AE1">Số điện thoại:&nbsp;</span> 0<%= shop.phone_number%>
		<br>
			<span style="color:#002AE1">Thông tin:&nbsp;</span><%=shop.description%>
			</div>
		<div class="clear">null</div>
		<div class="rating"></div></div></div>
		</div>
 	<%end%>
      </div>

  <aside class="span3 aside" id="column-left" >
    <div class="clear"></div>
<div class="box man">
  <div class="box-heading"><span><%=@title_page%></span></div>
  <div class="box-content">
        <ul class="info">
        	<% @list_area.each do |ci|%>
            <li><%= link_to ci, url_for(:area=> ci) %></li>
        	<%end%>
        
            </ul>
        <div class="clear"></div>
  </div>
</div>    <script type="text/javascript">
		(function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
	$(window).load(function(){
		if($(".maxheight.htm").length){
		$(".maxheight.htm").equalHeights()}
	})
</script>
<script type="text/javascript">
$(document).ready(function(){
$(function(){
$('.new-products  li ').last().addClass('last');
});
}); 
</script>
    <script type="text/javascript">
		(function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
	$(window).load(function(){
		if($(".maxheight-best.htm").length){
		$(".maxheight-best.htm").equalHeights()}
	})
</script>
  </aside>
	</div>
</div>

<script type="text/javascript"><!--
function display(view) {
	if (view == 'list') {
		$('.product-grid ').attr('class', 'product-list');
		$('.product-list ul').removeClass('row');
		$('.product-list ul li').removeClass('span3');
		$('.product-list ul li').each(function(index, element) {
			html = '';
					html += '<div class="row">';
			var image = $(element).find('.image').html();
			
			if (image != null) {
				html += '<div class="image span2">' + image + '</div>';
			}
			html += '<div class="left span6">';
				html += '<div class="name">' + $(element).find('.name').html() + '</div>';
				html += '<div class="description">' + $(element).find('.description').html() + '</div>';

				html += '<div class="button details" style="float:right">' + $(element).find('.details').html() + '</div>';
				
				html += '<div class="clear">' + $(element).find('.clear').html() + '</div>';

				var rating = $(element).find('.rating').html();
				if (rating != null) {
					html += '<div class="rating">' + rating + '</div>';
				}
				html += '</div>';
				html += '</div>';
			

						
			$(element).html(html);
		});		
		
		$('.display').html('<b>Display:</b> <div id="list_b"><i class="icon-list"></i></div> <a id="grid_a" onclick="display(\'grid\');"><i class="icon-th"></i></a>');
		
		$.totalStorage('display', 'list'); 
	} else {
		$('.product-list').attr('class', 'product-grid');
		$('.product-grid ul').addClass('row');
		$('.product-grid ul li').addClass('span3');
		$('.product-grid ul li').each(function(index, element) {
			html = '';
					
			var image = $(element).find('.image').html();
			
			if (image != null) {
				html += '<div class="image">' + image + '</div>';
			}
			html += '<div class="left">';
			

			(function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
				$(window).load(function(){
				if($(".subcatname.htm").length){
				$(".subcatname.htm").equalHeights()}
			});
			
			html += '<div class="name maxheight-subcat">' + $(element).find('.name').html() + '</div>';	
			
			html += '<div class="description">' + $(element).find('.description').html() + '</div>';
						
			html += '<div class="button details" style="float:right" >' + $(element).find('.details').html() + '</div>';
			
			html += '<div class="clear">' + $(element).find('.clear').html() + '</div>';
			var rating = $(element).find('.rating').html();
			
			if (rating != null) {
				html += '<div class="rating">' + rating + '</div>';
			}
			
			html += '</div>';
			$(element).html(html);
		});	
					
		$('.display').html('<b>Display:</b> <a id="list_a" onclick="display(\'list\');"><i class="icon-list"></i></a>  <div id="grid_b"><i class="icon-th"></i></i></div>');
		
		$.totalStorage('display', 'grid');
	}
	if ($('body').width() > 940) {
	// tooltip demo
		$('.tooltip-toggle').tooltip({
		selector: "a[data-toggle=tooltip]/index.htm"
		})
		$('.tooltip-1.htm').tooltip({
			placement:'bottom'
		})
		$('.tooltip-2.htm').tooltip({
			placement:'top'
		})
		}
	
}

view = $.totalStorage('display');

if (view) {
	display(view);
} else {
	display('grid');
}
//--></script> 
<!--<script type="text/javascript">		(function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
	$(window).load(function(){
		if($(".cat-height").length){
		$(".cat-height").equalHeights()}
	})
</script>-->

<div class="clear"></div>
</div>
</div>
</div>
<div class="clear"></div>
</section>