      <div class="box featured">
        <div class="box-heading">DANH SÁCH TIN TỨC</div>
        <div class="box-content">
          <div class="box-product">

            <ul class="row">
            <% if params[:type] == 'plant' or params[:type] == nil %>
              <%@list_item_news.each do |lin| %>
              <li class="span3">
                  <div class="image2">
                    <a href="<%=plant_path(lin.id)%>"><img id="img_34" src="<%=lin.plant_images[0].image%>" alt="Fusce et mauris sit" class="image_view"/></a>
                    <a href="<%=plant_path(lin.id)%>" rel="colorbox" class="colorbox1 quick-view-button"><i class=" icon-search "></i></a>
                  </div>
                  <div class="inner">
                    <div class="f-left">
                      <div class="name maxheight-feat"><a href="<%plant_path(lin.id)%>"><%=lin.name%></a></div>
                      <div class="description"><%= truncate lin.address, length: 100%></div>
                    </div>
                    <div class="cart-button">
                      <div class="cart"><a title="Xem tiếp" href="<%=plant_path(lin.id)%>" class="button addToCart"> <span>Xem tiếp</span></a></div>
                      <span class="clear"></span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
              </li>
              <%end%>
            <%elsif params[:type] == 'shop'%>
              <%@list_item_news.each do |lin| %>
              <li class="span3">
                  <div class="image2">
                    <a href="<%=shops_path%>"><img id="img_34" src="<%=lin.image%>" alt="Fusce et mauris sit" class="image_view"/></a>
                    <a href="<%=shops_path%>" rel="colorbox" class="colorbox1 quick-view-button"><i class=" icon-search "></i></a>
                  </div>
                  <div class="inner">
                    <div class="f-left">
                      <div class="name maxheight-feat"><a href="<%=shops_path%>"><%=lin.name%></a></div>
                      <div class="description">
                        <span style="color:#002AE1"></span><%= lin.address%></div>
                    </div>
                    <div class="cart-button">
                      <div class="cart"><a title="Xem tiếp" href="<%=shops_path%>" class="button addToCart"> <span>Xem tiếp</span></a></div>
                      <span class="clear"></span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
              </li>
              <%end%>
            <%elsif params[:type] == 'post'%>
                <%@list_item_news[0..1].each do |lin| %>
              <li class="span9">
                  <div class="image2">
                    <a href="<%=shops_path%>"><img id="img_34" src="<%=lin.image%>" alt="Fusce et mauris sit" class="image_post_index fleft"/></a>
                    <div class=" fleft span5 image3">
                       <h3><%=lin.title%></h3>
                       <p><%= lin.detail%></p>
                       <div class="cart-button">
                      <div class="cart"><a title="Xem tiếp" href="<%=news_path(lin.id)%>" class="button addToCart"> <span>Xem tiếp</span></a></div>
                      <span class="clear"></span>
                    </div>
                    </div>
                  </div>
                  <div class="inner bottom-border">
                 </div>
              </li>
              <%end%>

            <%else params[:type] == 'post_sell'%>
              <%@list_item_news.each do |lin| %>
              <li class="span3">
                  <div class="image2">
                    <% if lin.image.url != nil %>
                      <a href="<%=adv_path(lin.id)%>"><img id="img_34" src="<%=lin.image%>" alt="Fusce et mauris sit" class="image_view"/></a>
                      <a href="<%=adv_path(lin.id)%>" rel="colorbox" class="colorbox1 quick-view-button"><i class=" icon-search "></i></a>
                    <%else%>
                      <a href="<%=adv_path(lin.id)%>"><img id="img_34" src="/no_image.jpg" alt="Fusce et mauris sit" class="image_view"/></a>
                      <a href="<%=adv_path(lin.id)%>" rel="colorbox" class="colorbox1 quick-view-button"><i class=" icon-search "></i></a>
                    <%end%>
                  </div>
                  <div class="inner">
                    <div class="f-left">
                      <div class="name maxheight-feat"><a href="<%=adv_path(lin.id)%>"><%=lin.title%></a></div>
                      <div class="description">
                        <span style="color:#002AE1">Hình thức:</span><%= lin.type%></div>
                    </div>
                    <div class="cart-button">
                      <div class="cart"><a title="Xem tiếp" href="<%=adv_path(lin.id)%>" class="button addToCart"> <span>Xem tiếp</span></a></div>
                      <span class="clear"></span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
              </li>
              <%end%>
            <%end%>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>