<div class="container">
  <div id="notification"></div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span9  " id="content">  <div class="breadcrumb">
          <a href="<%=plants_path%>">Home</a>
          &raquo; <a href="<%=category_path(@plant_id.category.id)%>"><%=@plant_id.category.name%></a>
          &raquo; <a href=""><%=@plant_id.name%></a>
        </div>
        <div class="product-info">
          <div class="row">
            <div class="span3">
              <h1 class="view">Hình Ảnh</h1>
              <script type="text/javascript">
              jQuery(document).ready(function(){
              var myPhotoSwipe = $("#gallery a").photoSwipe({ enableMouseWheel: false , enableKeyboard: false, captionAndToolbarAutoHideDelay:0 });
              });
              </script>
              <div id="full_gallery">
                <ul id="gallery">
                  <% @plantimage[0..(@count_i)].each do |pi|%>
                  <li><a href="<%=pi.image %>" data-something="something" data-another-thing="anotherthing"> <%=image_tag pi.image%></a></li>
                  <%end%>
                </ul>
              </div>
              <div id="default_gallery" class="left spacing">
                  <% @plantimage[0..(@count_i)].each do |pi|%>
                    <div class="zoom-top">
                      <a href="<%=pi.image%>" title="Hình Ảnh"  data-gal="prettyPhoto[gallery1]" >
                         <%=image_tag pi.image%>
                     </a>
                    </div>
                  <%end%>
                <div class="image">
                  <a href="<%=@plantimage[0].image%>" title="Hình Ảnh" class = 'cloud-zoom' id='zoom1' rel="position: 'right'" >
                    <%=image_tag @plantimage[0].image%>
                  </a>
                  <a href="<%=@plantimage[0].image%>" title="Hình Ảnh">
                  </a>
                </div>
                <div class="image-additional">
                  <ul id="image-additional">
                    <% @plantimage[1..(@count_i)].each do |pi|%>
                    <li>
                      <a href="<%=pi.image %>" title="Hình Ảnh" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '' "><%=image_tag pi.image, style: 'width:75px; height:50px' %></a>
                    </li>
                    <%end%>
                  </ul>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
<div class="span6">
  <div class="tabs">
    <div class="tab-heading" id="s1">GIỚI THIỆU</div>
    <div class="description" style="padding-bottom:0px">
      <div class="product-section">
        <table width="100%">
          <tr>
            <th style="width:30%"></th>
            <th style="width:70%"></th>
          </tr>
          <tr>
            <td class="title_plant_item"> Tên thường gọi:</td>
            <td class="name_plant_item " style="text-transform: uppercase;"><%=@plant_id.name%></td>
          </tr>
          <tr>
            <td class="title_plant_item"> Tên Khoa học:</td>
            <td class="name_plant_item_low" style="text-transform: uppercase;"><%=@plant_id.scientic_name%></td>
          </tr>
          <tr>
            <td class="title_plant_item"> Thuộc Chi:</td>
            <td class="name_plant_item_low" ><%=@plant_id.genus%></td>
          </tr>
          <tr>
            <td class="title_plant_item"> Thuộc Họ:</td>
            <td class="name_plant_item_low"><%=@plant_id.familia%></td>
          </tr>
          <tr>
            <td class="title_plant_item"> Phân loại:</td>
            <td class="name_plant_item_low"><%=@plant_id.category.name%></td>
          </tr>
          <tr>
            <td class="title_plant_item"> Xuất xứ:</td>
            <td class="name_plant_item_low"><%=@plant_id.address%></td>
          </tr>
          <tr>
            <td class="title_plant_item"> Ngày đăng:</td>
            <td class="name_plant_item_low"><%=@plant_id.created_at.strftime('%d - %m -%Y')%></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="tabs">
    <div class="tab-heading" id="s2" >ĐẶC TÍNH SINH HỌC</div>
    <div class="description"  style="padding-bottom:0px">
      <div class="product-section">
        <% if @technical %>
        <table width="100%" class="table table-hover">
          <tr>
            <td width="20%" class="title_plant_item"> Độ khó:</td>
            <td width="80%" class="name_plant_item_low">
               <%=@technical.level%>
            </td>
          </tr>
          <tr>
            <td class="title_plant_item">Độ pH:</td>
            <td class="name_plant_item_low" style="text-transform: uppercase;">
              <%=@technical.pH%>
            </td>
          </tr>
          <tr>
            <td class="title_plant_item">Nhiệt độ:</td>
            <td class="name_plant_item_low" style="text-transform: uppercase;">
              <%=@technical.temperature%>
            </td>
          </tr>
          <tr>
            <td class="title_plant_item">Phân nền :</td>
            <td class="name_plant_item_low" >
              <%=@technical.fertilizer%>
            </td>
          </tr>
          <tr>
            <td class="title_plant_item">Kích thước:</td>
            <td class="name_plant_item_low">
              <%=@technical.size%>
            </td>
          </tr>
          <tr>
            <td class="title_plant_item">Cấu trúc cây:</td>
            <td class="name_plant_item_low">
              <%=@technical.tree_structure%>
            </td>
          </tr>
          <tr>
            <td class="title_plant_item">Chế độ ánh sáng:</td>
            <td class="name_plant_item_low">
              <%=@technical.light%>
            </td>
          </tr>
          <tr>
            <td class="title_plant_item">Chế độ dinh dưỡng:</td>
            <td class="name_plant_item_low">
              <%=@technical.trophic%>
            </td>
          </tr>
          <tr>
            <td class="title_plant_item">Tốc độ sinh trưởng:</td>
            <td class="name_plant_item_low">
              <%=@technical.growth%>
           </td>
           <tr>
            <td class="title_plant_item">Ghi chú:</td>
            <td class="name_plant_item_low">
              <%=@technical.notice%>
           </td>
          </tr>
        </table>
        <%elsif%>
        <p> Dữ liệu chưa cập nhật</p>
        <%end%>
      </div>
    </div>
  </div>
        <div class="tabs">
          <div class="tab-heading" id="s3">THÔNG TIN CHI TIẾT</div>
          <div class="tab-content">
            <%=@plant_id.description.html_safe%>
          </div>
        </div>
      </div>
      <h1 class="style-1 mt0" id="s4">CÁC LOẠI CÂY LIÊN QUAN</h1>
      <div  class="related">
        <div class="box-product">
          <ul class="related-slider">
          <% @plant_relasted.each do |pr| %>
            <li class="related-info">
              <div class="image">
                <a href="<%= plant_path(pr.id)%>"><%= image_tag pr.plant_images[0].image, style: 'width:129px; height:90px;'%></a>
              </div>
              <div class="inner_related" style="padding-bottom: 5px;">
                <script type="text/javascript">
                if ($('.container.htm').width() > 723) {
                (function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
                $(window).load(function(){
                if($(".maxheight-relat.htm").length){
                $(".maxheight-relat.htm").equalHeights()}
                });
                };
                </script>
                <div class="name maxheight-relat" style="text-align: center; margin-bottom:-6px;"><a href="<%= plant_path(pr.id)%>"><%=truncate pr.name ,length: 18%></a></div>
                <div class="cart-button">
                  <div class="cart" style="text-align: center;" >
                    <a title="Xem cây <%= pr.name%>" href="<%= plant_path(pr.id)%>" class="button ">
                      <span>Xem</span>
                    </a>
                  </div>
                  <span class="clear"></span>
                </div>
                <div class="rating">
                </div>
              </div>
            </li>
            <%end%>

          </ul>
        </div>
      </div>
    </div>


    <!-- Left menu -->
    <aside class="span3 aside" id="column-left">
      <div class="box account">
        <div class="box-heading">DANH MỤC THÔNG TIN</div>
        <div class="box-content">
          <ul class="acount list_product">
            <li><a href="#s1">GIỚI THIỆU</a></li>
            <li><a href="#s2">ĐẶC TÍNH SINH HỌC</a></li>
            <li><a href="#s3">THÔNG TIN CHI TIẾT </a></li>  
            <li><a href="#s4">CÁC LOẠI CÂY LIÊN QUAN</a></li>
          </ul>
        </div>
       </div>
        <script type="text/javascript">
        if ($('.container.htm').width() > 723) {
        (function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
        $(window).load(function(){
        if($(".maxheight-spec.htm").length){
        $(".maxheight-spec.htm").equalHeights()}
        });
        };
        </script>
      </aside>
    </div>
  </div>
    <div class="clear"></div>
</div>
</div>