<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF8">
    <script type="text/javascript">
    //<![CDATA[
    try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"../cdn-cgi/nexp/dok3v=1613a3a185/index.htm"},atok:"394c9dbeb73dec4dfa0d34834da0dc3c",petok:"6e99e35fa4d9b459c65cfce422f5101143b434cf-1428505550-86400",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"},"ga_key":{"ua":"UA-7078796-5","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=7e13c32551/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
    //]]>
    </script>
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script><title>Aquarium Lib</title>
    <base hrefx="http://livedemo00.template-help.com/opencart_47588/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, , initial-scale=1.0">
    <meta name="description" content="Aquarium Lib"/>
    <script>
    if (navigator.userAgent.match(/Android/i)) {
    var viewport = document.querySelector("meta[name=viewport]");
    }
    if(navigator.userAgent.match(/Android/i)){
    window.scrollTo(0,1);
    }
    </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/bootstrap-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/cloud-zoom.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/stylesheet.css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/slideshow.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/jquery.prettyPhoto.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/camera.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/superfish.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/photoswipe.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/jquery.bxslider.css" rel="stylesheet" type="text/css"/>
    <link href='http://localhost:3000/assets/catalog/view/theme/theme324/font/fonts.googleapis.com/css-family=Open+Sans-400,700-subset=latin,cyrillic-ext,latin-ext,cyrillic.htm' rel='stylesheet' type='text/css'>
    <link href='http://localhost:3000/assets/catalog/view/theme/theme324/font/fonts.googleapis.com/css-family=Playball.htm' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/catalog/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css"/>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/javascript/jquery/ui/external/jquery.cookie.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/catalog/view/theme/theme324/js/fancybox/jquery.fancybox-1.3.4.css" media="screen"/>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/javascript/jquery/colorbox/jquery.colorbox.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/javascript/jquery/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/javascript/jquery/jquery.cycle.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/catalog/view/javascript/jquery/colorbox/colorbox.css" media="screen"/>
    <!--[if IE]>
    <script type="text/javascript" src="catalog/view/theme/theme324/js/fancybox/jquery.fancybox-1.3.4-iefix.js"></script>
    <![endif]-->
    <!--[if IE]>
    <script type="text/javascript" src="catalog/view/theme/theme324/js/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]><div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="javascript:if(confirm('http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode\n\nThis file was not retrieved because it was filtered out by your project settings.\n\nWould you like to open it from the server?'))window.location='http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode'"><img src="../../storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/javascript/jquery/tabs.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/common.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/jQuery.equalHeights.js"></script>
    <script type="text/JavaScript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/cloud-zoom.1.0.2.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/jscript_zjquery.anythingslider.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/script.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/javascript/jquery/nivo-slider/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/jquery.mobile-events.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/superfish.js"></script>
    <!--[if !IE]>
    <script type="text/javascript" src="catalog/view/theme/theme324/js/sl/jquery.mobile.customized.min.js"></script>
    <![endif]-->
    <!--[if IE]>
    <script type="text/javascript" src="catalog/view/theme/theme324/js/sl/jscript_zjquery.anythingslider.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/sl/camera.js"></script>
    <script type="text/javascript" language="javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript" language="javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/photo-swipe/klass.min.js"></script>
    <script type="text/javascript" language="javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/photo-swipe/code.photoswipe.jquery-3.0.5.js"></script>
    <!--[if  IE 8]>
    <style>
    .success, #header #cart .content  { border:1px solid #e7e7e7;}
    </style>
    <![endif]-->
    <!--[if  IE 8]>
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/theme324/stylesheet/ie7.css" />
    <![endif]-->
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/theme324/stylesheet/ie6.css" />
    <script type="text/javascript" src="catalog/view/javascript/DD_belatedPNG_0.0.8a-min.js"></script>
    <script type="text/javascript">
    DD_belatedPNG.fix('#logo img');
    </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/catalog/view/theme/theme324/stylesheet/livesearch.css"/>
    <script type="text/javascript">
    /* <![CDATA[ */
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7078796-5']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript/index.htm'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    (function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create.htm",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove.htm",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
    /* ]]> */
    </script>
  </head>
  <body class="common-home"><a id="hidden" href="index.htm"></a>
  <div id="body">
  <div id="page">
    <div id="shadow">
      <div class="shadow"></div>
      <header id="header">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="top-site">
                <div class="right">
                  <ul class="links">
                  <%if session[:account_id] %>
                    <li><a class="" href="<%=accountss_index_path%>"><i class="icon-user"></i>My Account</a></li>

                    <li class="login_h"><a href="<%=sessionss_destroy_path%>"><i class="icon-lock"></i>Log Out</a></li>
                  <%else%>
                     <li class="login_h"><a href="<%=login_path%>"><i class="icon-lock"></i>Log In</a></li>
                    <li><a href="<%=registry_path%>"><i class="icon-file-alt"></i>Create an account</a></li>
                  <%end%>
                  </ul>
                </div>
                <div class="toprow">
                  <ul class="links">
                    <li class="first"><a class="active" href="<%= root_path%>"><i class="icon-home"></i>Home</a></li>
                    <li class="first"><a class="active" href="<%=new_contact_path%>"><i class="icon-home"></i>Contact</a></li>
                    
                  </ul>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="span12">
                    <div class="toprow-1">
                      <a class="swipe-control" href="index.htm#"><i class="icon-reorder"></i></a>
                      <div class="top-search">
                        <i class="icon-search"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="span12 logo-container">
                    <div id="logo"><a href="<%=plants_path%>"><img src="/logo.png" title="Flowers Store" alt="Flowers Store"/></a></div>
                    <div class="cart-position">
                    </div>
                    <div id="menu">
                      <script type="text/javascript">
                      $(document).ready(function(){
                      $('.menu ul li').last().addClass('last');
                      $('.menu ul li li').last().addClass('last');
                      });
                      </script>
                      <!-- Menu header navigation -->
                      <ul class="menu">
                        <!-- Danh muc cay  -->
                        <li class="cat_1">
                          <a href="">Danh mục cây </a>
                          <ul>
                            <%@category.each do |a|%>
                            <li><%= link_to a.name, category_path(a.id), class: 'screenshot1'%></li>
                            <%end%>
                          </ul>
                        </li>
                        <!-- Danh muc bai viet -->
                        <li class="cat_2">
                          <a href="<%=news_index_path%>">Cẩm Nang Thủy Sinh</a>
                        </li>
                        <!-- Trao doi buon ban -->
                        <li class="cat_3">
                          <a href="<%=advs_path%>">Góc Rao Vặt</a>
                          <ul>
                            <% if session[:role_account ] == nil%>
                             <li><%= link_to 'Đăng bài viết',new_adv_path, class: 'screenshot1'%></li>
                            <%end%>
                             <li><%= link_to 'Xem bài viết',advs_path, class: 'screenshot1'%></li>
                          </ul>
                        </li>
                        <!-- Shop -->
                        <li class="cat_4">
                          <a href="<%= shops_path%>">Shop Thủy Sinh</a>
                        </li>
                        <!-- Room chat -->
                        <li class="cat_5">
                          <a href="<%= chat_path%>">Chat Room</a>
                        </li>
                        <li class="cat_6">
                            <div class="right" style="margin-top: -3%; margin-left: 17%;">
                    <div id="search">
                      <div class="inner">
                        <%= form_tag searchs_path, method: :get do%>
                        <div class="button-search">
                           <i class="icon-search"></i><span>SEARCH</span></div>
                          <input type="text" name="search" placeholder="" value="" style="max-width=5%;"/>
                          <%end%>
                      </div>
                    </div>
                    </div>
                          </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
                <!-- Menu responsive -->
                <div class="row">
                  <div class="span12">
                    <div id="menu-gadget">
                      <div id="menu-icon">Danh Mục</div>
                      <ul id="nav" class="sf-menu-phone">
                        <li class="parent"><a href="">Danh mục cây</a>
                        <ul>
                          <%@category.each do |a|%>
                          <li><%= link_to a.name, category_path(a.id), class: 'screenshot1'%></li>
                          <%end%>
                        </ul>
                      </li>
                      <li class="cat_2">
                        <a href="">Tin Tức Thủy Sinh</a>
                      </li>
                      <!-- Trao doi buon ban -->
                      <li class="cat_3">
                        <a href="">Góc Rao Vặt</a>
                      </li>
                      <!-- Shop -->
                      <li class="cat_4">
                        <a href="">Shop Thủy Sinh</a>
                      </li>
                      <!-- Room chat -->
                      <li class="cat_5">
                        <a href="">Chat Room</a>
                      </li>
                      <li class="cat_6">
                        <a href="">Mixed </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end menu responsive -->
            </div></div></div></div>
          </header>
          <section>
            <div class="header-modules">
              <div class="container">
                <div class="row">
                  <script>
                  jQuery(function(){
                  jQuery('#camera_wrap_0').camera({
                  fx: 'stampede',
                  navigation: true,
                  playPause: false,
                  thumbnails: false,
                  navigationHover: false,
                  barPosition: 'top',
                  loader: false,
                  time: 6000,
                  transPeriod:800,
                  alignment: 'center',
                  autoAdvance: true,
                  mobileAutoAdvance: true,
                  barDirection: 'leftToRight',
                  barPosition: 'bottom',
                  easing: 'easeInOutExpo',
                  fx: 'scrollHorz',
                  height: '43.2%',
                  minHeight: '90px',
                  hover: true,
                  pagination: false,
                  loaderColor     : '#1f1f1f',
                  loaderBgColor   : 'transparent',
                  loaderOpacity   : 1,
                  loaderPadding   : 0,
                  loaderStroke    : 3
                  });
                  });
                  </script>
                  <!-- Slide image -->
                  <div class="fluid_container span9">
                    <div id="camera_wrap_0">
                      <div title="slide-1" data-src="http://localhost:3000/image/1.jpg">
                      </div>
                      <div title="slide-2"  data-src="http://localhost:3000/image/hoa-nha-trang-8-3.jpg">
                      </div>
                      <div title="slide-3" data-src="http://localhost:3000/image/banner-hoa-nha-trang.jpg">
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <!-- Slider end -->
                  <div id="banner0" class="banner">
                    <div class="span3 banner-1"><a href=""><div class="s-desc"><h1 style="font-size:19px">THƯ VIỆN THỦY SINH</h1>
                      <p>Cung cấp đầy đủ thông tin về thủy sinh mới nhất cho bạn</p>
                      </div><img src="http://localhost:3000/image/cache/data/banner-1-268x212.jpg" alt="banner-1" title="banner-1"/><span class="line-banner"></span></a></div>
                      </div>
                      <div id="banner1" class="banner">
                        <div class="span3 banner-2"><a href="<%=registry_path%>"><div class="s-desc"><h1>ĐĂNG KÍ MIỄN PHÍ THÀNH VIÊN</h1>
                         </div><img src="http://localhost:3000/image/cache/data/banner-2-270x129.jpg" alt="banner-2" title="banner-2"/><span class="line-banner"></span></a></div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div id="container">
                    <div class="container">
                      <div class="box featured">
                        <div class="row">
                        <!-- Category -->
                        <div class="span3 list">
                            
                            <div class="box man">
  <div class="box-heading"><span>TIN TỨC MỚI</span></div>
  <div class="box-content2">
        <ul class="info">
            <li><a href="/plants?type=plant">LOẠI CÂY MỚI</a></li>
            <li><a href="/plants?type=post_sell">GÓC RAO VẶT</a></li>
            <li><a href="/plants?type=shop">CỬA HÀNG THỦY SINH</a></li>
            <li><a href="/plants?type=post">CẨM NANG</a></li>
            </ul>
        <div class="clear"></div>
  </div>
</div>    <script type="text/javascript">
    (function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
  $(window).load(function(){
    if($(".maxheight.htm").length){
    $(".maxheight.htm").equalHeights()}
  })
</script>
<script type="text/javascript">
$(document).ready(function(){
$(function(){
$('.new-products  li ').last().addClass('last');
});
}); 
</script>
    <script type="text/javascript">
    (function($){$.fn.equalHeights=function(minHeight,maxHeight){tallest=(minHeight)?minHeight:0;this.each(function(){if($(this).height()>tallest){tallest=$(this).height()}});if((maxHeight)&&tallest>maxHeight)tallest=maxHeight;return this.each(function(){$(this).height(tallest)})}})(jQuery)
  $(window).load(function(){
    if($(".maxheight-best.htm").length){
    $(".maxheight-best.htm").equalHeights()}
  })
</script>


                        </div>
                        <div class="span9">
                          <%= yield %>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </section>
                <footer>
                  <div class="container">
                    <div class="row">
                      <div class="span12">
                        <div id="powered">
                          <div>
                            <span class="pow">
                               Copyright ©2015, Tran Thanh Tu - AsianTech Company</span>
                            </span>
                          </div>
                          <p id="back-top"> <a href="index.htm#top"><span></span></a> </p>
                        </div>
                      </div>
                    </div></div>
                  </footer>
                  <script type="text/javascript" src="http://localhost:3000/assets/catalog/view/theme/theme324/js/livesearch.js"></script>
                </div>
              </div>
            </div>
            <script type="text/javascript">/* CloudFlare analytics upgrade */
            </script>
            <script type="text/javascript">if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript/index.htm";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-1.newrelic.com","72d7dcce33","1388850","ZV1TZ0FTVkFVWkwKXlwXZEFaHRIdXVdcBkkcSFlD",0,962,new Date().getTime(),"","","","",""]);</script></body></html>